
#reports {
    color: #000;
    width: auto;
    height: 2em;
    background: #cfc;
    border: 1px solid #0f0;
    padding: 5px 10px 20px 10px;
    margin: 10px;
}

#errors {
    color: #000;
    width: auto;
    height: 2em;
    background: #FCC;
    border: 1px solid #F00;
    padding: 5px 10px 20px 10px;
    margin: 10px;
}

#userhomelink{
    padding: 1em;
    color: #ffffff;
    text-decoration: none;
}

#userhomelink:hover {
    background: none;
    color: #E43C15;
}