<!DOCTYPE html>
<html>
    
<head>
    <title>{% block title %}{{ title }}{% endblock %}</title>

    <link href="static/css/style.css" rel="stylesheet" type="text/css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/util.css">
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
    <link href="static/css/home_style.css" rel="stylesheet" type="text/css" media="screen"/>

    <script src="https://code.jquery.com/jquery-1.12.4.min.js" type="text/javascript"></script>
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" media="screen"/>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js" integrity="sha512-UdIMMlVx0HEynClOIFSyOrPggomfhBKJE28LKl8yR3ghkgugPnG6iLfRfHwushZl1MOPSY6TsuBDGPK2X4zYKg==" crossorigin="anonymous" type="text/javascript"></script>
    {% block headtags %}{% endblock %}
</head>
<body class="d-flex flex-column min-vh-100">
    <nav>
      <div class="menu-icon"><span class="fas fa-bars"></span></div>
      <div class="logo">FuldaMarkt</div>
      <div class="nav-items">
        <li><a href="index.php">Home</a></li>
        <li><a href="#">Events</a></li>
        <li><a href="search_product.php">Market</a></li>
        <li><a href="#">About</a></li>
          {% if session.get('is_authenticated') %}
              <li><a href="logout.php">Logout</a></li>
          {% else %}
              <li><a href="login.php">Login</a></li>
              <li><a href="signup.php">Signup</a></li>
          {% endif %}


      </div>
        {% if session.get('is_authenticated') %}
            <a href="userhome.php" id="userhomelink">{% if session.get('user_info').full_name %}{{ session.get('user_info').full_name }}'s{% else %}User{% endif %} Home</a>
        {% endif %}
      
      <div class="profile"></div>
    </nav>


    {% if message %}
        <div id="reports">{{ message }}</div>
    {% endif %}
    {% if errors %}
    {% for error in errors %}
        <div id="errors">{{ error }}</div>
    {% endfor %}
    {% endif %}

    <div id="body" class="wrapper flex-grow-1">{% block body %}{% endblock %}</div>
    <div id="footer">
        {% block footer %}
            &copy; Copyright 2020 by <a href="#">FuldaMarkt </a>.
        {% endblock %}
    </div>

  
  <script src="vendor/animsition/js/animsition.min.js"></script>
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="vendor/select2/select2.min.js"></script>
  <script src="static/js/main.js"></script>
  </body>
</html>
