<!DOCTYPE html>
<html>
	<head>
		<title>
			{% block title %}
				{{ title }}
			{% endblock %}
		</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<meta
		http-equiv="x-ua-compatible" content="ie=edge">

		<!-- Material Design Bootstrap -->
		<link rel="stylesheet" href="static/css/mdb-pro.min.css">
		<link href="static/css/style.css" rel="stylesheet" type="text/css" media="screen"/>
		<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
		<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
		<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
		<link rel="stylesheet" type="text/css" href="static/css/util.css">
		<link rel="stylesheet" type="text/css" href="static/css/main.css">
		<script src="https://code.jquery.com/jquery-1.12.4.min.js" type="text/javascript"></script>
		<link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" media="screen"/>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" type="text/javascript"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js" integrity="sha512-UdIMMlVx0HEynClOIFSyOrPggomfhBKJE28LKl8yR3ghkgugPnG6iLfRfHwushZl1MOPSY6TsuBDGPK2X4zYKg==" crossorigin="anonymous" type="text/javascript"></script>

		{% block headtags %}{% endblock %}
	</head>
	<body>
		<div id="page-container">
			<div id="content-wrap">
				<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
					<a class="navbar-brand" href="search_product.php">FuldaMarkt</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarColor01">
						<ul class="navbar-nav mr-auto">
							<li class="nav-item">
								<a class="nav-link" href="search_product.php">Market
									<span class="sr-only">(current)</span>
								</a>
							</li>
							{% if session.get('is_authenticated') %}
								<li class="nav-item">
									<a class="nav-link" href="userhome.php">User's dashboard</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="logout.php">Logout</a>
								</li>
							{% else %}
								<li class="nav-item">
									<a class="nav-link" href="login.php">Login</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="signup.php">Signup</a>
								</li>
							{% endif %}
						</ul>
					</div>
				</nav>
				{% if message %}
					<div id="reports">{{ message }}</div>
				{% endif %}
				{% if errors %}
					{% for error in errors %}
						<div id="errors">{{ error }}</div>
					{% endfor %}
				{% endif %}
				<div id="body"> {% block body %}{% endblock %}
					</div>
				</div>
				<footer id="footer" class="bg-transparent text-black text-center text-lg-start">
					{% block footer %}
						Developed by S. T. Rumy, S. Sumair, A. Abdullah as part of course work for GDSD at Hochschule Fulda. &copy; Copyright 2020
					{% endblock %}
				</footer>
			</div>
			<script src="vendor/animsition/js/animsition.min.js"></script>
			<script src="vendor/bootstrap/js/popper.js"></script>
			<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
			<script src="vendor/select2/select2.min.js"></script>
			<script src="static/js/main.js"></script>
		</body>
	</html>
