{% extends "base.twig" %}

{% block body %}
	<p>{{ body }}</p>
	<main>
		<div class="row " style="margin-top: 20px">
			<div class="col-12">
				<div class="container">

					<form method="post" action="create_product.php" enctype="multipart/form-data">
						<div class="form-row">
							<div class="form-group col-md-12">
								<label for="title_input">Post Title</label>
								<input id="title_input" type="text" placeholder="Title for your item posting" name="title_input" type="text" class="form-control" required="">
							</div>
						</div>
						<div class="form-group">
							<label for="text_input">Post Description</label>
							<textarea id="text_input" type="text" placeholder="Describe the item you want to post" name="text_input" class="form-control" required=""></textarea>
						</div>
						<div class="form-row">
							<div class="form-group col-md-2">
								<label for="Price">Price(€)</label>
								<input id="Price" value="0.00" type="number" step=".01" min="0" placeholder="" name="Price" class="form-control">
							</div>

							<div class="form-group col-md-4">
								<label for="categories">Choose a category</label>
								<select name="categories" id="categories" class="form-control" required="">
									<option value="Electronics">Electronics</option>
									<option value="Stationary">Stationary Equipment</option>
									<option value="Services">Services</option>
								</select>

							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="picture">Picture of the item</label>
								<input class="form-control" id="picture" type="file" name="picture[]" accept="image/jpeg" multiple>
							</div>
						</div>

						<button type="submit" name="submit" class="btn btn-primary btn-md mr-1 mb-2 waves-effect waves-light">
							<span>Post Item</span>
						</button>
					</form>

				</div>
			</div>
		</div>
	</main>

{% endblock %}
