{% extends "base.twig" %}

{#
Twig documentation to work with template design; https://twig.symfony.com/doc/3.x/templates.html
#}

{% block body %}

    this is index body, to login click here: <a href="login.php">Login</a><br/>
    Click here to signup: <a href="signup.php">Signup</a>

{% endblock %}

