{% extends "base.twig" %}

{% block headtags %}
	
	<script type="text/javascript">
		$(document).ready(function () {
$("#errors").hide();
});
	</script>
{% endblock %}

{% block body %}
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
				<form class="login100-form validate-form" id="loginform" method="post" action="login.php">

					<span class="login100-form-title p-b-33">
						Login
					</span>
					<div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
						<input class="input100" id="email" type="text" placeholder="Email address" name="email">
						<span class="focus-input100-1"></span>
						<span class="focus-input100-2"></span>
					</div>
					<div class="wrap-input100 rs1 validate-input" data-validate="Password is required">
						<input class="input100" id="password" type="password" placeholder="Your password" name="password">
						<span class="focus-input100-1"></span>
						<span class="focus-input100-2"></span>
					</div>

					<div class="container-login100-form-btn m-t-20">
						<button class="login100-form-btn" type="submit" name="submit">
							Sign in
						</button>
					</div>

					<div class="text-center">
						<span class="txt1">
							Don't have an account yet?
						</span>

						<a href="signup.php" class="txt2 hov1">
							Sign up
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		$(document).ready(function () {
$("#loginform").validate({
rules: {
email: {
required: true
},
password: {
required: true
}
},
messages: {
email: {
required: "Enter email."
},
password: {
required: "Enter password."
}
}
});
});
	</script>


{% endblock %}
