{% extends "base.twig" %}

{% block headtags %}
    <script src="{{ path_url }}/vendor/components/jquery/jquery.min.js" type="text/javascript"></script>
    <link href="{{ path_url }}/vendor/components/jqueryui/themes/smoothness/jquery-ui.min.css" rel="stylesheet" type="text/css" media="screen"/>
    <script src="{{ path_url }}/vendor/components/jqueryui/jquery-ui.min.js" type="text/javascript"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js" integrity="sha512-UdIMMlVx0HEynClOIFSyOrPggomfhBKJE28LKl8yR3ghkgugPnG6iLfRfHwushZl1MOPSY6TsuBDGPK2X4zYKg==" crossorigin="anonymous" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function()
        {
            $("#errors").hide();
        });
    </script>
{% endblock %}

{% block body %}
    <h1>{{ body }}</h1>
    <form id="loginform" method="post" action="login.php">
        <fieldset>
            <legend>Enter email and password to login.</legend>
            <div>
                <label for="email">Email</label>
                <input id="email" type="text" placeholder="Email address" name="email">
            </div>
            <div>
                <label for="password">Password</label>
                <input id="password" type="password" placeholder="Your password" name="password">
            </div>
            <div>
                <button type="submit" name="submit">Login</button>
            </div>
        </fieldset>
    </form>
    <script type="text/javascript">
        $(document).ready ( function() {
            $("#loginform").validate ( {
                rules:{
                    email:{ required: true },
                    password:{ required: true }
                },
                messages: {
                    email: { required: "Enter email." },
                    password: { required: "Enter password." }
                }
            });
        });
    </script>
{% endblock %}

